DRIVER=~fastapi
HOST=127.0.0.1
PORT=8080
SUPERUSERS=["123456789"]

ANTI_RECALL_REPEAT_ENABLED=true
ANTI_RECALL_REPEAT_ENABLED_GROUPS=[]
ANTI_RECALL_REPEAT_WHITELIST_USERS=[]
ANTI_RECALL_REPEAT_CACHE_SIZE=500
ANTI_RECALL_REPEAT_REPEAT_TIP="检测到复读啦，先打断一下～"
